@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  background-color: transparent; /* Allows the newspaper's background to show through if needed */
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}
